body
{
  background-color: #000000;
  color: #ffffff;
}

.cabecalho,
.conteudo,
.rodape
{
  width: 800px;
  width: 800px;
}

.cabecalho
{
  height: 196px;
  background-image: url("../img/PizzariaTopo.png");
  margin-left: auto;
  margin-right: auto;
}

.conteudo
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rodape
{
  margin-top: 20px;
  height: 87px;
  background-image: url("../img/PizzariaRodape.png");
  margin-left: auto;
  margin-right: auto;
}

table
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  color: #ffffff;
  text-shadow: 0px 0px 10px #00ffff;
  border-top: 2px dashed #00ffff;
  border-bottom: 2px solid #00ffff;
}

h2
{
  color: #ffffff;
  text-shadow: 0px 0px 10px #00ffff;
  border-top: 2px dashed #00ffff;
  border-bottom: 2px solid #00ffff;
}

th,
label
{
  text-transform: uppercase;
  color: #00ffff;
}

input,
select
{
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #00ffff; /* Green */
}

input[type=submit]
{
  background-color: #00ffff;
  color: #000000;
  border: 0px;
  text-transform: uppercase;
  padding: 10px 10px;
}

input[type=button]
{
  background-color: #00ffff;
  color: #000000;
  border: 0px;
  text-transform: uppercase;
  padding: 10px 10px;
}


.precoTotal
{
  font-size: 40px;
}

.message {
  color: red;
  font-weight: bold;
  padding: 30px;
}